.header{
    max-width: 1500px;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-repeat: no-repeat;
    display: flex;
    height: 60px;
    align-items: center;
    position: sticky; 
    transition: all 0.5s;
    z-index: 997;
}
.header_logo{
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    margin-top: 13px;
}
.header_search{
    display: flex;
    flex: 1;
}
.header_searchInput{
    height: 30px !important;
    padding: 5px;
   
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 30px !important;
    background-color: red;
}
.header_location{
    padding: 5px;
    height: 30px !important;
    background-color:red;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_link{
    color: white;
    text-decoration: none;
}
.header_optionLineOne{
    font-size: 12px;
    font-weight: 800;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}


